<p id="notice"><%= notice %></p>

<p>
  <strong>Atext:</strong>
  <%= @answer_text.atext %>
</p>

<%= link_to 'Edit', edit_answer_text_path(@answer_text) %> |
<%= link_to 'Back', answer_texts_path %>
